<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload Example</title>
</head>
<body>

<form id="uploadForm" th:action="@{/api/images/2}" method="post" enctype="multipart/form-data">
    <input type="file" name="files" id="fileInput" accept=".jpg, .jpeg, .png" multiple="multiple" required />
    <button type="submit">Upload</button>
</form>

<script>
    document.getElementById('uploadForm').addEventListener('submit', function (event) {
        event.preventDefault();

        let formData = new FormData(this);

        fetch('/api/images/2', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                console.log('Upload success:', data);
                // 여기에서 필요한 후속 작업 수행
            })
            .catch(error => console.error('Upload error:', error));
    });
</script>

</body>
</html>
